<div class="container p-5">
  <div class="col">
    <p class="fs-1">Huffman Generator</p>
    <div class="row">
      <div class="col">
        <p class="fs-5">Enter text below to create a Huffman Tree. The following characters will be used to create the tree: letters, numbers, full stop, comma, single quote. All other characters are ignored.</p>
        <div class="form-group">
          <textarea class="form-control" id="inputText" rows="5" placeholder="Enter some text to create Huffman tree" [(ngModel)]="inputText"></textarea>
        </div>
        <button class="btnCustom mt-3" (click)="onSubmit()">Generate Tree</button>
      </div>
  </div>
</div>
