<div class="container p-5">
  <div class="col">

    <div class="col" *ngIf="pageType == ePageType.Huffman">
      <p class="fs-1">Huffman Generator</p>
      <div class="row">
        <div class="col">
          <p class="fs-5">Enter text below to create a Huffman Tree. The following characters will be used to create the
            tree: letters, numbers, space, full stop, comma, single quote. All other characters are ignored.</p>
          <div class="form-group">
            <textarea class="form-control" id="inputText" rows="5" placeholder="Enter some text to create Huffman tree"
              [(ngModel)]="inputForHuffman"></textarea>
          </div>
          <button class="btnCustom mt-3" (click)="onSubmit()">Generate Tree</button>
        </div>
      </div>

      <div class="col-xs-10">
        Original Size: {{averageGain.original}} 
        Coded Size: {{averageGain.coded}}
        Compression: {{averageGain.percent*100}}%
      </div>

      <div class="col-xs-10" *ngIf="rows.length > 0">
        <hr>
        <div class="row">
          <div class="col-sm">
            Character
          </div>
          <div class="col-sm">
            Original Binary - Coded Binary
          </div>
          <div class="col-sm">
            Compression
          </div>
        </div>
        <li class="list-group">
          <div class="list-group-item" *ngFor="let row of rows; let i = index">
            <div class="row">
              <div class="col-sm">
                {{row.name}}
              </div>
              <div class="col-sm">
                ({{row.code.original}}) ({{row.code.coded}})
              </div>
              <div class="col-sm">
                {{row.code.gainPercent*100}}%
              </div>
            </div>
          </div>
        </li>
      </div>
    </div>

    <div class="col" *ngIf="pageType == ePageType.RunLength">
      <p class="fs-1">Run Length Generator</p>
      <div class="row">
        <div class="col">
          <p class="fs-5">Enter text below to create a Run Length. The following characters will be used to create the
            tree: letters, numbers, full stop, comma, single quote. All other characters are ignored.</p>
          <div class="form-group">
            <textarea class="form-control" id="inputText" rows="5" placeholder="Enter some text to create Run Length"
              [(ngModel)]="inputForRunLength"></textarea>
          </div>
          <button class="btnCustom mt-3" (click)="onSubmit()">Generate</button>
        </div>
      </div>
    </div>
  </div>